<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    <h3>Profile</h3>
    <label>Username : </label> &emsp;
    <label><%= result.username%></label>
    <ul style="list-style: none;">
        <li><a href="/admin/listTrain">List of Train</a></li>
        <li><a href="/admin/listDestination">List of Destination</a></li>
        <li><a href="/admin/addTrain">Add New Train</a></li>
        <li><a href="/admin/addDestination">Add New Destination</a></li>
    </ul>
</body>
</html>