<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    <form action="/admin/addTrain" method="post">
        <label>Name : </label><br>
        <input type="text" name="name"><br>
        <label>Destination</label><br>
        <select name="DestinationId">
            <% result.map(data => { %> 
                <option value="<%= data.id %>"><%= data.name %></option>
            <%})%>
        </select><br>
        <label>Departure</label><br>
        <select name="departure">
            <option value="Pagi">Pagi</option>
            <option value="Malam">Malam</option>
        </select><br>
        <label>Price</label><br>
        <input type="number" name="price"><br>
        <label>Number of Seat</label><br>
        <input type="number" name="seats"><br>
        <input type="submit" value="Add New">
    </form>
</body>
</html>