<!doctype html>
<html lang="en">
  <head>
   <%- include('../partials/head.ejs')%>
  </head>
  <body>
    <center>
      <h1>Welcome !!!Name!!!</h1>
      <br>
      <br>
      <h3>Your balance is : 500000</h3>
      <br>
      <br>
  
      <form action="/passanger/search" method="POST">
        Mau Kemana? <br>
        <input type="text" name="destination">
        <input type="submit" value="GO!">
      </form>
      <br>
    </center>
  </body>
</html>