<!doctype html>
<html lang="en">
  <head>
   <%- include('./partials/head.ejs')%>
  </head>
  <body>
    <form action="/" method="POST">
        Username : <br>
        <input type="text" name="username"><br>
        Password : <br>
        <input type="password" name="password"><br>

        <input type="submit">
    </form>
  </body>
</html>